extends layout
block content
  style.
    .axis text{
      fill: #aaa;
      font-size:.8em;
    }
    .axis path,
    .axis line {
      fill: none;
      stroke: #aaa;
      shape-rendering: crispEdges;
    }
    .x.axis path {
      display: none;
    }
    .line {
      fill: none;
      stroke: #8BC53F;
      stroke-width: 1.5px;
    }
    .area{
      fill:#8BC53F;
      opacity:0.7;
    }

  //stroke: #1d3549;
  #brand.main-header
    a(href="/") STEAMTRACKER
    span An ongoing analysis of Steam's player numbers.
  #search-bar
    form(method="get",action="/search/",role="search")
      input(type="text",name="search",placeholder="Search Games")
  #game-header.main-header
    a(href="?").link
      h2= game.name
    #store-links
      a(href="http://store.steampowered.com/app/" + game.appid).link Store
      a(href="http://steamcommunity.com/app/" + game.appid).link Hub
  #game-banner.display-container
    .banner-item
      img(src="/images/app.jpg",height=imgDims.height,width=imgDims.width)
    .banner-item
      h2= game.count[game.count.length-1]
      small Playing Now
    .banner-item
      h2= game.week_max_count
      small Week Peak
    .banner-item
      h2= game.max_count
      small All-Time Peak
  #game-plot.display-container
  script var playerCounts = !{JSON.stringify(game)}

  #performance.display-container
    table.table
      tr
        th Month
        th Avg. Players
        th Gain
        th % Gain
        th Peak Players
      -var count = 1
      each month in monthlyPerf
        tr(class= count % 2 == 0 ? "" : "odd-row")
          td= month.mon
          td= Math.floor(month.avg)
          td= month.gain
          td= month.gainPercent
          td= month.max
          -count = count + 1

block scripts
  script(type="text/javascript",src="../javascripts/generate-indiv-svg.js")
