extends layout
block content
  style.
    .axis text{
      fill: #aaa;
      font-size:.8em;
    }
    .axis path,
    .axis line {
      fill: none;
      stroke: #aaa;
      shape-rendering: crispEdges;
    }
    .x.axis path {
      display: none;
    }
    .line {
      fill: none;
      stroke: #1d3549;
      stroke-width: 1.5px;
    }
    .area{
      fill:steelblue;
      opacity:0.7;
    }

  #brand.main-header
    a(href="/") STEAMTRACKER
    span An ongoing analysis of Steam's player numbers.
  #search-bar
    form(method="get",action="/search/",role="search")
      input(type="text",name="search",placeholder="Search Games")
  #game-header.main-header
    a(href="?").link
      h2= monthlyPerf[0].name
    #store-links
      a(href="#").link Store
      a(href="#").link Hub
  #game-banner.display-container
  #game-plot.display-container
  script var playerCounts = !{JSON.stringify(game)}

  #performance.display-container
    table.table
      tr
        th Month
        th Avg. Players
        th Gain
        th % Gain
        th Peak Players
      -var count = 1
      each month in monthlyPerf
        tr(class= count % 2 == 0 ? "" : "odd-row")
          td= month.mon
          td= Math.floor(month.avg)
          td= month.gain
          td= month.gainPercent
          td= month.max
          -count = count + 1

block scripts
  script(type="text/javascript",src="../javascripts/generate-indiv-svg.js")
