doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    //canvas#my-canvas
    .total-players
      h1= "Total players: " + total
    .trending
      h1 Currently Trending
      ol
        each game in trending
          li= game.name + ', +' + game.diff + '%, ' + game.curr

    .top-games
      h1 Top games goes here

    each game in games
      h1= game.name
      small= game.max
      h3= game.heights
      -var pos = 0;
      -var points = "";
      svg(version="1.1",baseProfile="full",width=svgDims.width,height=svgDims.height)
        each height in game.heights
          rect(x=pos,y=200-height,width="20",height=height,fill="orange",class="svg-rect")
          -pos = pos + 20
          -points = points + pos + "," + (svgDims.height - height) + " ";
      svg(version="1.1",baseProfile="full",width=svgDims.width,height=svgDims.height)
        rect(x="0",y="0",width="300",height="200", fill="white")
        polyline(fill="none",stroke="blue",stroke-width="3",points=points)
 
    script(type="text/javascript",src="javascripts/bundle.js")

