extends layout
block content
  .main-header
    a(href="#") STEAMTRACKER
    span An ongoing analysis of Steam's player numbers.
  .display-container
    .total-players
      h1= "Total players: " + total
      svg(version="1.1",baseProfile="full",width="100%",height="100%",id="svg-totals-plot")
        g
          rect(x=0,y=0,width="100%",height="100%",fill="none",id="plot")
      h2#count-display Mouse over the plot to see player counts.


  .trending.display-container
    table.table
      caption.caption
        h2 Trending
      tr
        th Name
        th 24-Hour Change
        th Last 48 Hours
        th Current Players
      -var trendCount = 1
      each game in trending
        tr(class= trendCount % 2 == 0 ? "" : "odd-row")
          td= game.name
          td.gain= '+' + game.diff + '%'
          td
          td= game.curr
          -trendCount = trendCount + 1

  .game-list.display-container
    table.table
      caption.caption
        h2 Top Games By Current Players
      tr
        th  
        th Name
        th Current Players
        th Last 30 Days
        th Peak Players
        th#daily-players Daily Players 
      -var index = 1
      each game in games
        tr(class= index % 2 == 0 ? "top-game-row" : "top-game-row odd-row")
          td= index
          td= game.name
          td= game.count[game.count.length-1]

          -var pos = 0;
          -var points = "";
          td 
            svg(version="1.1",baseProfile="full",width=svgDims.width,height=svgDims.height,class="bargraph",data-appid=game.appid)
              g.g-bargraph
                each height,ind in game.heights
                  rect(x=pos,y=svgDims.height-height,width="5",height=height,fill="#587A2F",data-ind=ind,data-appid=game.appid,data-count=game.count[ind],data-time=game.updated[ind],class="bargraph-bar svg-rect")
                  -pos = pos + 5
                  -points = points + pos + "," + (svgDims.height - height) + " ";
          //td= game.avg
          td= game.max
          td(id= game.appid ,width=svgDims.width + 25).daily-display
          -index = index + 1

block scripts
   script(type="text/javascript",src="javascripts/bundle.js")

