extends layout
block content
  style.
    .axis text{
      fill: #aaa;
      font-size:.8em;
    }
    .axis path,
    .axis line {
      fill: none;
      stroke: #aaa;
      shape-rendering: crispEdges;
      stroke-width:0;
    }
    .x.axis path {
      display: none;
    }
    .line {
      fill: none;
      stroke: #8BC53F;
      stroke-width: 1.5px;
    }
    .grid .tick{
      opacity: 0.2 !important;
      stroke: lightgrey;
      fill: none;
      stroke-width:1px;
    }
    .grid path{
      stroke-width: 0;
    }

  .main-header.display-container
    a(href="/") STEAMTRACKER
    span An ongoing analysis of Steam's player numbers.
  #search-bar.display-container
    form(method="get",action="/search/",role="search")
      input(type="text",name="search",placeholder="Search Games").input-std
  #total-players.display-container
    center
      h1= prettifyNumber(totalPlayers[totalPlayers.length-1].count) + " Currently In-Game"
      small= "As of " + moment(totalPlayers[totalPlayers.length-1].added).format('h:mm:ss a MM/DD/YYYY')
    script.
      var totalPlayers = !{JSON.stringify(totalPlayers)}
      var numberOfBars = !{JSON.stringify(games[0].count.length)}


  .trending.display-container
    table.table
      caption.caption
        h2 Trending
      tr
        th Name
        th 24-Hour Change
        th Last Week
        th Current Players
      -var trendCount = 1
      each game in trending
        tr(class= trendCount % 2 == 0 ? "" : "odd-row")
          td
            a(href="/app/"+game.appid,class="link")= game.name
          td.gain= '+' + game.diff.toFixed(2) + '%'
          td
            svg(version="1.1",baseProfile="full",width=svgDims.polyline.width,height=svgDims.polyline.height)
              g(class="g-week-performance")
                polyline(fill="none",stroke="#587A2F",stroke-width="3",points=game.points)
          td= prettifyNumber(game.curr)
          -trendCount = trendCount + 1

  #game-list.display-container
    table.table
      caption.caption
        h2 Top Games By Current Players
      tr
        th  
        th Name
        th Current Players
        th Last 30 Days
        th Peak Players
        th#daily-players Daily Players 
      -var index = 1
      each game in games
        tr(class= index % 2 == 0 ? "top-game-row" : "top-game-row odd-row")
          td= index
          td
            a(href="/app/"+game.appid,class="link")= game.name
          td= prettifyNumber(game.count[game.count.length-1])

          -var pos = 0;
          -var points = "";
          td 
            svg(version="1.1",baseProfile="full",width=svgDims.bargraph.width,height=svgDims.bargraph.height,class="bargraph",data-appid=game.appid)
              g.g-bargraph
                each height,ind in game.heights.bargraph
                  rect(x=pos,y=svgDims.bargraph.height-height,width="5",height=height,fill="#587A2F",data-ind=ind,data-appid=game.appid,data-count=game.count[ind],data-time=game.updated[ind],class="bargraph-bar svg-rect")
                  -pos = pos + 5
                  //-points = points + pos + "," + (svgDims.bargraph.height - height) + " ";
          //td= game.avg
          td= prettifyNumber(game.max)
          td(id= game.appid ,width=svgDims.bargraph.width + 25).daily-display
          -index = index + 1

        tr
          td
          td
          td
          td
          td
          td(colspan=3)#mobile-slider
      tfoot
        tr
          td.tfootTD(colspan="6")
            a(href="/top/page/1").link More

  .game-list.display-container
    table.table
      caption.caption
        h2 Top Records
      tr
        th Name
        th Peak Players
        th Time
        //th Current Players
      -var index = 1
      each game in topGames
        tr(class= index % 2 == 0 ? "" : "odd-row")
          td
            a(href="/app/"+game.appid,class="link")= game.name
          td= prettifyNumber(game.count)
          td= moment(game.updated).format("MMM YYYY")
          //td= 
          -index = index + 1

block scripts
   script(type="text/javascript",src="javascripts/bundle-index.js")
