doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .main
      .main-header
        a(href="#") STEAMTRACKER
        span An ongoing analysis of Steam's player numbers.
      .display-container
        .total-players.display-container
          h1= "Total players: " + total

      .trending.display-container
        center
          table
            caption 
              h2 Trending
            tr
              th Name
              th 24-Hour Change
              th Current Players
            each game in trending
              tr
                td= game.name
                td= '+' + game.diff + '%'
                td= game.curr

      .game-list.display-container
        center
          table
            caption
              h2 Top Games By Current Players
            tr
              th  
              th Name
              th Current Players
              th
              th Average for Last 30 Days
              th Peak Players
            -var index = 1
            each game in games
              tr
                td= index
                td= game.name

                -var pos = 0;
                -var points = "";
                td 
                  svg(version="1.1",baseProfile="full",width=svgDims.width,height=svgDims.height,class="bargraph")
                    each height,ind in game.heights
                      rect(x=pos,y=svgDims.height-height,width="10",height=height,fill="orange",class="svg-rect",data-name=game.name,data-count=game.count[ind],data-time=game.updated[ind],class="bargraph-bar")
                      -pos = pos + 10
                      -points = points + pos + "," + (svgDims.height - height) + " ";
                  svg(version="1.1",baseProfile="full",width=svgDims.width,height=svgDims.height)
                    rect(x="0",y="0",width=svgDims.width,height=svgDims.height,fill="none")
                    polyline(fill="none",stroke="#587A2F",stroke-width="3",points=points)
                td(id= game.name + "-count-display",width=svgDims.width + 25)
                td= game.avg
                td= game.max
                -index = index + 1
   
    script(type="text/javascript",src="javascripts/bundle.js")

