extends layout
block content
  .main-header
    a(href="#") STEAMTRACKER
    span An ongoing analysis of Steam's player numbers.
  .display-container
    .total-players.display-container
      h1= "Total players: " + total

  .trending.display-container
    table.table
      caption.caption
        h2 Trending
      tr
        th Name
        th 24-Hour Change
        th Current Players
      -var trendCount = 1
      each game in trending
        tr(class= trendCount % 2 == 0 ? "" : "odd-row")
          td= game.name
          td.gain= '+' + game.diff + '%'
          td= game.curr
          -trendCount = trendCount + 1

  .game-list.display-container
    table.table
      caption.caption
        h2 Top Games By Current Players
      tr
        th  
        th Name
        th Current Players
        th Last 30 Days
        th Peak Players
        th 
      -var index = 1
      each game in games
        tr(class= index % 2 == 0 ? "" : "odd-row")
          td= index
          td= game.name
          td= game.count[game.count.length-1]

          -var pos = 0;
          -var points = "";
          td 
            svg(version="1.1",baseProfile="full",width=svgDims.width,height=svgDims.height,class="bargraph",data-appid=game.appid)
              each height,ind in game.heights
                rect(x=pos,y=svgDims.height-height,width="10",height=height,fill="orange",class="svg-rect",data-appid=game.appid,data-count=game.count[ind],data-time=game.updated[ind],class="bargraph-bar")
                -pos = pos + 10
                -points = points + pos + "," + (svgDims.height - height) + " ";
          //td= game.avg
          td= game.max
          td(id= game.appid ,width=svgDims.width + 25)
          -index = index + 1

block scripts
   script(type="text/javascript",src="javascripts/bundle.js")

