svg(version="1.1",baseProfile="full",width=svgDims.width,height=svgDims.height)
  rect(x="0",y="0",width=svgDims.width,height=svgDims.height,fill="none")
  polyline(fill="none",stroke="#587A2F",stroke-width="3",points=points)


